/* Small Screen */
.container {
  background-color: #18F2B2;
  padding: 1rem;
  color: white;
  text-align: center;
}

.footer__title {
  font-size: 1.95rem;
  margin-bottom: 0;
}

.footer__author {
  margin-bottom: 1rem;
}

.footer__list {
  list-style: none;
  display: none;
}

.footer__item {
  margin-bottom: 1rem;
}

/* Medium Screen */
@media(min-width: 992px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
  }

  .footer__title {
    text-align: left;
  }

  .footer__author {
    margin: 0;
    text-align: left;
  }

  .footer__list {
    display: flex;
    flex-direction: row;
  }

  .footer__item {
    margin: 0 1rem;
  }
}