/* Small Screen */
.container {
  margin: 1rem;
}

.hero {
  margin: 5rem auto;
  display: flex;
  text-align: center;
}

.hero__left {
  margin: 1rem;
}

.hero__title {
  color: #18F2B2;
  margin-bottom: 0;
  font-size: 2.44rem;
}

.hero__subtitle {
  color: #21897E;
  margin-bottom: 1rem;
}

.hero__description {
  color: #64748B;
  margin-bottom: 1rem;
}

.hero__button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: #18F2B2;
  color: #fff;
  margin-bottom: 1rem;
}

.hero__right {
  display: none;
}

.hero__image {
  max-width: 100%;
  height: auto;
}

/* Medium Screen */
@media(min-width: 768px) {
  .container {
    padding: 0 100px;
  }
}

/* Large Screen */
@media(min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .hero {
    margin: 0 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .hero__left {
    flex-basis: 40%;
  }

  .hero__right {
    display: block;
    flex-basis: 60%;
  }
}